In [ ]:
import pandas as pd

# read the CSV file into a pandas DataFrame
df = pd.read_csv('bist_social_media_csv/bistsocial_media_twtsqlite_202304131040.csv')

In [25]:
df = df.drop('about', axis=1)
df = df.drop('account_creation_date', axis=1)
df = df.drop('token', axis=1)
df = df.drop('gender', axis=1)
df = df.drop('image_url', axis=1)
df = df.drop('internal_id', axis=1)
df = df.drop('message_url', axis=1)
df = df.drop('received_timestamp', axis=1)
df = df.drop('retweet_id', axis=1)
df = df.drop('tweets', axis=1)
df = df.drop('hashtag', axis=1)
df = df.drop('language', axis=1)
df = df.drop('location', axis=1)
df = df.drop('platform_type', axis=1)

In [22]:
df = df.drop('date1', axis=1)
df = df.drop('imageurl', axis=1)
df = df.drop('internal_id', axis=1)
df = df.drop('parent_id', axis=1)
df = df.drop('received_timestamp', axis=1)
df = df.drop('screenname', axis=1)
df = df.drop('tags', axis=1)
df = df.drop('title', axis=1)
df = df.drop('domain', axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1887377 entries, 0 to 1887376
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   date             object
 1   comment_id       object
 2   content          object
 3   domain           object
 4   link             object
 5   user_first_name  object
 6   user_id          int64
 7   user_last_name   object
dtypes: int64(1), object(7)
memory usage: 115.2+ MB

In [4]:
df.head

<bound method NDFrame.head of                date             tweet_id  followers         message_date
0        2022-02-01  1488255771091611659        187  2022-02-01 00:00:00  \
1        2022-02-01  1488255769933922309          1  2022-02-01 00:00:00
2        2022-02-01  1488255775604719619        233  2022-02-01 00:00:02
3        2022-02-01  1488255783775215623        185  2022-02-01 00:00:03
4        2022-02-01  1488255794344828939        110  2022-02-01 00:00:06
...             ...                  ...        ...                  ...
3251802  2022-04-30  1520405885515935749        984  2022-04-30 17:13:05
3251803  2022-04-30  1520405892876939264        984  2022-04-30 17:13:07
3251804  2022-04-30  1520334637943427074        362  2022-04-30 12:29:58
3251805  2022-04-30  1520335274894573568        362  2022-04-30 12:32:30
3251806  2022-04-30  1520336121162612736        362  2022-04-30 12:35:52

                                            message_detail platform_type
0        @balotaromantico TIRE ESSE "ROMANTICO" DO NOME...       Twitter  \
1        RT @pardesse_prens: #Thyao  29.30 seviyesini b...       Twitter
2        Mazi'den Ati'ye Hedef G√º√ßl√º T√ºrkiye - Mazi'den...       Twitter
3        RT @CebrailOzan00: Hedef 2023 ... T√ºrk Milleti...       Twitter
4        #petkm  8.38 Kanal desteƒüi 8.84/9.28 diren√ßler...       Twitter
...                                                    ...           ...
3251802  √ßocuklarƒ± hedef haline getiriyorsunuz. Bu vide...       Twitter
3251803  Bu √ßocuklar geleceƒüin √ßok ba≈üarƒ±lƒ± insanlarƒ± d...       Twitter
3251804  @PawGuardsTr PROPAGANDA YAPIYORSUN, a≈üaƒüƒ±daki ...       Twitter
3251805  @PawGuardsTr ADƒ∞ PROPAGANDA YAPIYORSUNUZ, a≈üaƒü...       Twitter
3251806  @PawGuardsTr PROPAGANDA YAPIYORSUN, a≈üaƒüƒ±da vi...       Twitter

         retweet_count        username
0                    0  CscDarkFantasy
1                    0  Alican06971322
2                    0  FilizYavuzkurt
3                    0      reis_hesab
4                    0     kydostubist
...                ...             ...
3251802              2    octaruptaros
3251803              2    octaruptaros
3251804              3  FethiAslan1453
3251805              1  FethiAslan1453
3251806              5  FethiAslan1453

[3251807 rows x 8 columns]>

In [3]:
df = df.loc[:, ['username', 'message_date', 'tweet_id', 'message_detail']]

In [10]:
# write the dataframe to a CSV file
df.to_csv('tweets.csv', index=False)

In [2]:
df.head()

,date,comment_id,content,date1,domain,imageurl,internal_id,link,parent_id,received_timestamp,screenname,tags,title,user_first_name,user_id,user_last_name
0,2022-02-01,174c21a9a664258ffebade05372add27,"Sanƒ±rƒ±m ZT yakinda taze kan,itibarlƒ± ve arkasƒ±...",2022-02-01 00:00:01,tr.investing.com,NaN,INV20220201174c21a9a664258ffebade05372add27,http://tr.investing.com/equities/kervansaray-y...,0,2022-04-05 11:43:02,Small Invester,KERVN,Kervansaray Yatƒ±rƒ±m Holding A.≈û. (KERVN) - Sma...,Small,110031665,Invester
1,2022-02-01,8798afd098a9c2c65be32b48bd5afee4,Batuhan√ßolak ismiyle arap haber kanalƒ±nda yayƒ±...,2022-02-01 00:00:05,tr.investing.com,NaN,INV202202018798afd098a9c2c65be32b48bd5afee4,http://tr.investing.com/equities/mardin-ciment...,0,2022-04-05 11:43:02,Arkan Karaka≈ü,OYAKC,Oyak √áimento Fabrikalarƒ± A.≈û. (OYAKC) - Arkan ...,Arkan,201630639,Karaka≈ü
2,2022-02-01,ef8001b2fdaf527f810159b56fe29bf5,Bula lan elini kana √ßakmaaaa delikanlƒ± senin k...,2022-02-01 00:00:05,tr.investing.com,NaN,INV20220201ef8001b2fdaf527f810159b56fe29bf5,http://tr.investing.com/equities/dardanel-comm...,129347318,2022-04-05 11:43:02,≈ûi≈üko Kedi,DARDL,Dardanel √ñnenta≈ü Gida Sanayi A.≈û. (DARDL) - ≈ûi...,≈ûi≈üko,234287277,Kedi
3,2022-02-01,086fafd63c33c9f121d0a1bcb008267d,Fischer 9 g√ºnl√ºkte 5. Kez al sinyali verdi. Ge...,2022-02-01 00:00:15,tr.investing.com,NaN,INV20220201086fafd63c33c9f121d0a1bcb008267d,http://tr.investing.com/equities/seyitler-kimy...,0,2022-04-05 11:43:02,Serkan KALAYCIOƒûLU,SEYKM,Seyitler Kimya Sanayi A.≈û. (SEYKM) - Serkan KA...,Serkan,202658263,KALAYCIOƒûLU
4,2022-02-01,648cb18c803b801d7a29dc974fbf94b6,Bu normale d√∂nm√º≈ü halimizse iyimis valla,2022-02-01 00:00:27,tr.investing.com,NaN,INV20220201648cb18c803b801d7a29dc974fbf94b6,http://tr.investing.com/equities/rta-lab-biyol...,129347214,2022-04-05 11:43:02,Ertuƒürul Erman,RTALB,RTA Lab Biyolojik √úr√ºnler ƒ∞la√ß ve Mak. San. Ti...,Ertuƒürul,234112119,Erman

In [26]:
sample_df = df.sample(n=1000)

# write the sample DataFrame to a CSV file
sample_df.to_csv('random1000twt.csv', index=False)

# confirm that the new file was created and contains the expected data
new_df = pd.read_csv('random1000twt.csv')
print(new_df.head())

         date             tweet_id  followers         message_date
0  2022-04-03  1510541010471956484          6  2022-04-03 11:53:36  \
1  2022-03-02  1498779635940745216       1362  2022-03-02 00:58:05
2  2022-04-20  1516792846598254594         18  2022-04-20 17:56:09
3  2022-04-21  1517143760391401473         22  2022-04-21 17:10:34
4  2022-04-03  1510698545334177793        546  2022-04-03 22:19:35

                                      message_detail  retweet_count
0  RT @ibrahim___ethem: #SASA üìçYumurtalƒ±k‚Äôtaki ar...              0  \
1  @batuhannefreti Bu zamanlar askerdeydim besikt...              0
2  RT @BTKAkademi: üîêWireshark, hedef sistemde kom...              0
3  RT @Madesh29708583: hedef #ankaratraveÔ¨Öi  kitl...              0
4  RT @furkanvakfiTT: 200 siyonist kur≈üuna hedef ...              0

          username
0  JackSpa48914625
1          BjkcooP
2    CemTrkylmaz17
3      Rezanakmak2
4     enverTavsan1

In [11]:
# select the first 10,000 rows
df_first_10000 = df.iloc[:10000, :]

# write the selected rows to a CSV file
df_first_10000.to_csv('my_data_first_10000.csv', index=False)

In [4]:
# find all elements that contain the string 'apple'
mask = df.applymap(lambda x: 'aslanamcayeni' in str(x))

# extract the rows and columns where the mask is True
result = df[mask.any(axis=1)]

# print the result
print(result)

              username         message_date             tweet_id
370874   aslanamcayeni  2022-02-10 10:51:23  1491681184874704897  \
371102   aslanamcayeni  2022-02-10 10:57:47  1491682794812157953
413498   aslanamcayeni  2022-02-11 13:48:29  1492088142123446272
434760   aslanamcayeni  2022-02-12 09:07:36  1492379844142903299
476131   aslanamcayeni  2022-02-13 20:47:02  1492918250274963460
476216        seyit123  2022-02-13 20:49:06  1492918770641391617
483137    acemiborsa84  2022-02-13 23:56:47  1492966001507541000
489208   aslanamcayeni  2022-02-14 10:16:39  1493121996829433861
489891   aslanamcayeni  2022-02-14 10:49:10  1493130180969349122
496629   aslanamcayeni  2022-02-14 15:54:42  1493207069025046534
498117   aslanamcayeni  2022-02-14 17:09:01  1493225770969403397
498802        Murro011  2022-02-14 17:37:40  1493232980646629382
521588   aslanamcayeni  2022-02-15 13:02:41  1493526168540176388
535205   aslanamcayeni  2022-02-15 19:50:39  1493628838324150276
547831   aslanamcayeni  2022-02-16 06:12:59  1493785450292473862
555421   aslanamcayeni  2022-02-16 14:26:01  1493909528190013444
555492   Galip75683483  2022-02-16 14:29:47  1493910473544196098
556239        Murro011  2022-02-16 14:52:58  1493916310358704132
652051       bbborsa21  2022-02-19 16:50:59  1495033175118163970
712093   aslanamcayeni  2022-02-21 15:17:39  1495734461295693830
726163   aslanamcayeni  2022-02-21 21:27:40  1495827578271281157
753985   aslanamcayeni  2022-02-22 17:16:29  1496126753957363717
780495   aslanamcayeni  2022-02-23 12:25:38  1496415947757867009
833070  yogurtcu_bekir  2022-02-24 20:42:13  1496903303355113472

                                           message_detail
370874  #PKent'in arkasƒ±nda Elazƒ±ƒü'lƒ± zengin bir adam ...
371102  ƒ∞nsanlarƒ± uyardƒ±ƒüƒ±mƒ± biliyorlar, beni ters k√∂≈ü...
413498  #Pkent hissesi bug√ºnde tavan a√ßtƒ±, dediklerimi...
434760  #Pkent gibi kƒ±sa vadede %50 kar bƒ±rakacak, tom...
476131    #Pkent hissesini benden haber almadan satmayƒ±n.
476216  RT @aslanamcayeni: #Pkent hissesini benden hab...
483137  RT @aslanamcayeni: #Pkent hissesini benden hab...
489208          Tamam arkada≈ülar #Pkent'i satabilirsiniz.
489891  Artƒ±k #Pkent'i satabilirsiniz. https://t.co/98...
496629  Arkada≈ülar #pkent satmayƒ±n yarƒ±nda tavan olaca...
498117  #Pkent devam ben haber vereceƒüim. https://t.co...
498802          @aslanamcayeni #pkent sen tam bi salaksƒ±n
521588       #Pkent Devam edelim. https://t.co/jCURU9ONln
535205  RT @aslanamcayeni: #Pkent hissesini benden hab...
547831  #Pkent bug√ºnde tavan a√ßacak ve ondan sonra ben...
555421  #Pkent'i zamanƒ±nda satarak hem kendi b√ºt√ßeme h...
555492  RT @aslanamcayeni: #Pkent'i zamanƒ±nda satarak ...
556239  #pkent bu @aslanamcayeni 1 lot malƒ± varsa T√ºrk...
652051  @aslanamcayeni Aslan AMCa ne diyosun pkent d√∂n...
712093  #LKMNH hisse senedinde olaƒüan dƒ±≈üƒ± alƒ±mlar g√∂r...
726163  #Pkent'in i≈üi bitti tepede herkesten √∂nce satƒ±...
753985  D√ºnya borsalarƒ±nda hisse senetleri √ß√∂kerken bi...
780495  RT @aslanamcayeni: #LKMNH hisse senedinde olaƒü...
833070  @aslanamcayeni Aslan amca bizim Fener ne yapar...

In [5]:
# write the selected rows to a CSV file
result.to_csv('aslanamcayeni.csv', index=False)